@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFDFF;
}



/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
  background-color: #fefefe;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* Medium */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: .3s;
}

button.white {
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  outline: none;
  border: 1px solid #fff;
  transition: .3s;
}

/* title section */
.title__section {
  text-align: center;
  margin-bottom: 5rem;
}

@media (max-width:575px) {
  .title__section h2 {
    font-size: 30px;
  }

  .title__section p {
    font-size: 13px;
  }
}





/* ######## HEADER ######## */

header {
  position: fixed;
  background-color: #e3e6f3;
  width: 100%;
  height: 60px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
  display: grid;
  align-items: center;
  z-index: 9999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 2.5rem;
  margin-left: auto;
}

.nav__link,
.nav__cart,
.nav__menu {
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  color: #1a1a1a;
  text-transform: capitalize;
  transition: .3s;
}

.nav__link.active::after,
.nav__link:hover::after,
.nav__cart:hover::after {
  content: "";
  position: absolute;
  bottom: -.25rem;
  left: 0;
  width: 50%;
  height: .125rem;
  border-radius: .25rem;
  background-color: #088178;
}

.nav__link:hover,
.nav__link.active,
.nav__cart:hover {
  color: #088178;
}

.nav__close {
  display: none;
}

.nav__cart {
  margin-left: 3rem;

}

.nav__menu {
  display: none;
}


@media (max-width:767px) {
  .nav__list {
    position: fixed;
    height: 100%;
    width: 80%;
    background-color: #e3e6f3;
    right: -80%;
    top: 0;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 5rem;
    box-shadow: 0 40px 60px rgb(0, 0, 0, .1);
    z-index: 999;
    transition: .3s;
  }

  .showMenu {
    right: 0;
  }

  .nav__close {
    display: block;
    position: absolute;
    top: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .nav__icons {
    display: flex;
    gap: 2rem;
  }

  .nav__menu {
    display: block;
  }
}

@media (max-width:575px) {
  .nav {
    width: 100%;
  }
}

/* ######## HOME ######## */
.home {
  background-image: url("../img/hero4.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.home__subtitle {
  margin-bottom: 15px;
}

.home__title span {
  color: #088178;
}

.home__button {
  background-image: url(../img/button.png);
  background-size: cover;
  background-color: transparent;
  height: 2.5rem;
  width: 180px;
  color: #088178;
  font-weight: 700;
  font-size: 15px;
}

@media (max-width:575px) {
  .home__subtitle {
    font-size: 18px;
  }

  .home__title {
    font-size: 36px;
    line-height: 45px;
  }
}

/* ######## OFFERS ######## */

.offers__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.offers__card {
  border: 1px solid #cce7d0;
  padding: 25px 15px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
  transition: .3s
}

.offers__card:hover {
  box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}

.offers__text {
  color: #088178;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  margin: auto;
  margin-top: 0.25rem;
  border-radius: 0.25rem;
}

.offers__card:first-child .offers__text {
  background-color: #f6dbea;
}

.offers__card:nth-child(2) .offers__text {
  background-color: #eaf5d8;
}

.offers__card:nth-child(3) .offers__text {
  background-color: #dbebf6;
}

.offers__card:nth-child(4) .offers__text {
  background-color: #e3ddf4;
}

.offers__card:nth-child(5) .offers__text {
  background-color: #f6e5db;
}

.offers__card:last-child .offers__text {
  background-color: #dbf4f6;
}

@media (max-width:992px) {
  .offers__container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width:767px) {
  .offers__img {
    width: 130px;
  }
}

/* --########################## products ########################## */

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.product {
  position: relative;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  overflow: hidden;
  padding: 10px 12px;
  cursor: pointer;
  transition: .3s;
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
}

.product:hover {
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}

.product-img {
  border-radius: 20px;
}

.product-brind {
  color: #606063;
  font-size: 12px;
}

.product-title {
  font-size: 14px;
  color: #1a1a1a;
  text-transform: capitalize;
  padding-top: 7px;
}

.product-stars i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.product-price {
  font-weight: 700;
  font-size: 15px;
  color: #088178;
  padding-top: 7px;
}

.product-shop-icon a {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 10px;
  color: #088178;
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  font-weight: 500;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
  line-height: 40px;
  text-align: center;
}


@media (max-width:992px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:767px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:575px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* --########################## REPEAR ########################## */

.repair {
  background-image: url('../img/banner/b2.jpg');
  background-size: cover;
}

.repair__container {
  padding: 50px 0;
  color: #fff;
  text-align: center;
}

.repair__subtitle {
  font-size: 16px;
}

.repair__title {
  color: #fff;
  padding: 15px 0;
  font-size: 30px;
}

.repair__title span {
  color: #ef3636;
}

.repair__button:hover {
  background-color: #088178;
  color: #fff;
}

/* ########################## upComing ########################## */

.upComing {
  margin: 20px 0;
}

.upComing__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.upComing__box {
  background-size: cover;
  padding: 60px 15px;
  color: #fff;
}

.upComing__box:first-child {
  background-image: url("../img/banner/b17.jpg");
}

.upComing__box:last-child {
  background-image: url("../img/banner/b10.jpg");
}

.upComing__subtitle {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.upComing__title {
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}

.upComing__desc {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.upComing__button:hover {
  border-color: #088178;
  background-color: #088178;
  color: #fff;
}

@media (max-width:767px) {
  .upComing__container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
}

@media (max-width:575px) {
  .upComing__title {
    font-size: 30px;
  }
}

/* ########################## TEXT ########################## */
.text {
  margin: 20px 0;
}

.text__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text__box {
  background-size: cover;
  padding: 45px 10px;
}

.text__box:first-child {
  background-image: url('../img/banner/b7.jpg');
  flex-basis: 28%;
}

.text__box:nth-child(2) {
  background-image: url("../img/banner/b4.jpg");
  flex-basis: 38%;
}

.text__box:last-child {
  background-image: url('../img/banner/b18.jpg');
  flex-basis: 28%;
}

.text__title {
  color: #fff;
  font-size: 22px;
  font-weight: 900;
}

.text__desc {
  color: #ec544e;
  font-size: 15px;
  font-weight: 800;
}

@media (max-width:992px) {
  .text__container {
    row-gap: 2rem;
  }

  .text__box:first-child {
    flex-basis: 48%;
  }

  .text__box:last-child {
    flex-basis: 48%;
  }

  .text__box:nth-child(2) {
    flex-basis: 100%;
    order: 3;
  }
}

@media (max-width:575px) {
  .text__box:first-child {
    flex-basis: 100%;
  }

  .text__box:last-child {
    flex-basis: 100%;
  }

  .text__box:nth-child(2) {
    flex-basis: 100%;
  }
}

/* ########################## NEWSLETTERS ########################## */

.newsletters {
  background-color: #041D44;
  padding: 40px 0;
}

.newsletters__container {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
}


.newsletters__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}

.newsletters__desc {
  color: #818ea0;
  font-weight: 600;
  font-size: 14px;
}

.newsletters__desc span {
  color: #ffbd27;
}

.newsletters__form {
  display: flex;
}

.newsletters__input {
  padding: 10px 18px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  border: none;
}

.newsletters__button {
  background-color: #05b8ab;
  color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px 18px;
  width: max-content;
}

@media (max-width:767px) {
  .newsletters__container {
    flex-direction: column;
    gap: 2rem;
  }

  .newsletters__text {
    text-align: center;
  }
}

/* ########################## FOOTER ########################## */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.footer__col {}

.footer__logo {
  margin-bottom: 30px;
}

.footer__title {
  font-size: 13px;
  margin-bottom: 8px;
}

.footer__list-item {
  font-size: 12px;
  color: #222;
  margin-bottom: 10px;
  display: block;
}

.footer__list-item span {
  font-weight: 700;
}

.footer__contact {
  margin-top: 20px;
}

.footer__contact-link:hover {
  color: black;
}

.footer__contact-link i {
  color: #465b52;
  padding-right: 4px;
}

.footer__text {
  font-size: 14px;
  font-weight: 500;

}

.footer__download img {
  border: 1px solid #088178;
  border-radius: 4px;
}

.footer__img {
  margin: 10px 0px 15px 0px;
}